<div class="container">
  <h3>Crear Nueva Rutina</h3>
  <form [formGroup]="routineForm" (ngSubmit)="saveRoutine()">
    <select id="muscleGroup" formControlName="muscleGroup" class="form-control mb-2">
      <option value="">Selecciona un grupo muscular</option>
      <option *ngFor="let group of muscleGroups" [value]="group.id">{{ group.name }}</option>
    </select>
    <select id="exercise" formControlName="exercise" class="form-control mb-2">
      <option value="">Selecciona un ejercicio</option>
      <option *ngFor="let exercise of availableExercises" [value]="exercise.id">{{ exercise.name }}</option>
    </select>
    <button type="submit" class="btn btn-primary w-100">Guardar</button>
  </form>
</div>
