<!-- src/app/footer/footer.component.html -->
<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Fitness App</h5>
        <p>La mejor plataforma para entrenar y mantenerte en forma.</p>
      </div>
      <div class="col-md-3">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Inicio</a></li>
          <li><a href="#" class="text-white">Acerca de</a></li>
          <li><a href="#" class="text-white">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Redes Sociales</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Facebook</a></li>
          <li><a href="#" class="text-white">Instagram</a></li>
          <li><a href="#" class="text-white">Twitter</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-3">
      <span>© 2024 Fitness App. Todos los derechos reservados.</span>
    </div>
  </div>
</footer>
