<!-- src/app/navbar/navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(255, 0, 0, 0.49);">
  <div class="container-fluid">
    <a class="navbar-brand text-black" href="#">Fitness</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>
