<div class="routine-container">
  <div class="columns">
    <!-- Columna izquierda -->
    <div class="left-column">
      <ng-container *ngFor="let routine of savedRoutines; let i = index">
        <div *ngIf="i % 2 === 0" class="routine-card" [class.fade-in-left]="i % 2 === 0">
          <div class="card-content">
            <h5>{{ routine.exerciseName }}</h5>
            <p>
              <strong>Grupo Muscular:</strong> {{ routine.muscleGroupName }}<br />
              <strong>Repeticiones:</strong> {{ routine.repetitions || 'N/A' }}<br />
              <strong>Series:</strong> {{ routine.series || 'N/A' }}<br />
              <strong>Descanso:</strong> {{ routine.restTime || 'N/A' }}
            </p>
            <button class="btn btn-warning btn-sm me-2" (click)="editRoutine(routine)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="deleteRoutine(routine.id)">Eliminar</button>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Columna derecha -->
    <div class="right-column">
      <ng-container *ngFor="let routine of savedRoutines; let i = index">
        <div *ngIf="i % 2 !== 0" class="routine-card" [class.fade-in-right]="i % 2 === 1">
          <div class="card-content">
            <h5>{{ routine.exerciseName }}</h5>
            <p>
              <strong>Grupo Muscular:</strong> {{ routine.muscleGroupName }}<br />
              <strong>Repeticiones:</strong> {{ routine.repetitions || 'N/A' }}<br />
              <strong>Series:</strong> {{ routine.series || 'N/A' }}<br />
              <strong>Descanso:</strong> {{ routine.restTime || 'N/A' }}
            </p>
            <button class="btn btn-warning btn-sm me-2" (click)="editRoutine(routine)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="deleteRoutine(routine.id)">Eliminar</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
